@model Pink_Panthers_Project.Models.StudentSubmission

@{
	ViewData["Title"] = "Course";
}

<div class="container">
	<div class="row mt-5">
		<form enctype="multipart/form-data" asp-action="SubmitAssignment" method="post">
		<h2>Assignment: @Model.currentAssignment!.AssignmentName</h2>
		<h5>@Model.currentAssignment!.Description</h5>
		@Html.HiddenFor(m => m.AssignmentID)
		@if(Model!.currentAssignment!.SubmissionType == "text")
		{
			<textarea asp-for="Submission" style="width:100%; height:80%;"></textarea>
				<br />
			}
			else
			{
				if (ViewData.ModelState.ContainsKey("NoFile"))
				{
					<em>Upload a file first!</em>
					<br />
				}
				<input type="file" accept=".pdf, .zip, .docx, .doc, application/msword, .xslx, audio/*, video/*, image/*" id="file" name="file" required>

				<div class="preview">
					<p>No files currently selected</p>
				</div>
		}
		<br />
		<input type="submit" value="Submit"/>
		</form>
	</div>
</div>
