@{
    ViewData["Title"] = "FileUpload";
}
<h2>File Upload</h2>
<form method="post" enctype="multipart/form-data" asp-controller="Profile" asp-action="FileUpload">

    <span>Select File:</span>

    <input type="file" name="postedFile" />

    <input type="submit" value="Upload" />

    <br />

    <span>@Html.Raw(ViewBag.Message)</span>

    <img src="~/Images/image.jpg" alt="Profile Picture"></img>

</form> 