@model Pink_Panthers_Project.Models.Account

@{
    ViewData["Title"] = "Index";
}

<h1>Hello, @Html.DisplayFor(Model => Model.FirstName) @Html.DisplayFor(Model => Model.LastName)</h1>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-3">
                <div class="card mb-4 custom-card">
                    <div class="card-header card-header-class">CS3750</div>
                    <div class="card-body">
                        
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 custom-card">
                    <div class="card-header card-header-course">Software Engineering II</div>
                    <div class="card-body">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card custom-card">
                    <div class="card-header card-header-place">Noorda 234</div>
                    <div class="card-body">
                              
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card custom-card">
                    <div class="card-header card-header-time">11:30AM - 1:20PM</div>
                    <div class="card-body">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>