@model Pink_Panthers_Project.Models.Account

@{
    ViewData["Title"] = "Index";
}

<h1>Hello, @Html.DisplayFor(Model => Model.FirstName) @Html.DisplayFor(Model => Model.LastName)</h1>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-3">
                <div class="card mb-4 custom-card">
                    <div class="card-header card-header-course1">CS 3750</div>
                    <div class="card-body">
                        Software Engineering II<br />
                        Noorda 234<br />
                        11:30AM - 1:20PM<br />
                        Thursday
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-4 custom-card">
                    <div class="card-header card-header-course2">CS 4110</div>
                    <div class="card-body">
                        Formal Languages and Algorithms<br />
                        Noorda 318<br />
                        9:30AM - 11:20AM<br />
                        Monday, Wednesday
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card custom-card">
                    <div class="card-header card-header-course3">CS 3030</div>
                    <div class="card-body">
                        Scripting Languages<br />
                        Noorda 232<br />
                        11:30AM - 1:20PM<br />
                        Monday, Wednesday
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card custom-card">
                    <div class="card-header card-header-course4">BTNY 1203</div>
                    <div class="card-body">
                        Plant Biology<br />
                        Online
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>