@model Pink_Panthers_Project.Models.Account

@{
    if (Model.isTeacher)
    {
        Layout = "TeacherLayout";
    }
    else
    {
        Layout = "StudentLayout";
    }
    ViewData["Title"] = "Privacy Policy";
} 
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
