################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Pink_Panthers_Project/FileContentIndex/068d0220-2949-41ba-9edf-43a699fb7e8a.vsidx
/.vs/Pink_Panthers_Project/FileContentIndex/35fc313d-b45b-4acd-87e4-06804b747757.vsidx
/.vs/Pink_Panthers_Project/FileContentIndex/51c8d576-d869-4ea1-accf-4660b7c1cd60.vsidx
/.vs/Pink_Panthers_Project/FileContentIndex/83a4d4af-b5db-4ef7-9c65-2082cf98e4d2.vsidx
/.vs/Pink_Panthers_Project/FileContentIndex/b4ad2170-b263-4f89-8271-108eb5878f6f.vsidx
/.vs/Pink_Panthers_Project/FileContentIndex/29a4ae5c-2ac6-4305-b703-0c3837047540.vsidx
