html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.to-do-header {
    width: 300px;
    background-color: red;
    height: 50px;
    font-size: x-large;
    font-weight: bolder;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.to-do-list {
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    position: absolute;
    right: 70px;

}

.to-do-card {
    width: 300px;
    height: 200px;
    background-color: white;
    border-bottom: dashed;
    border-radius: 5px;
}

.custom-card {
    width: 300px;
    height: 300px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.card-header {
    color: white;
    height: 50px;
    font-size: x-large;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.card-header-course1 {
    background-color: #54b4c4; 
}

.card-header-course2 {
    background-color: #2f0ba3; 
}

.card-header-course3 {
    background-color: #b0339b; 
}

.card-header-course4 {
    background-color: #27b34f; 
}

.card-body {
    font-size: 15pt;
}

.btn-login {
    display: inline-block;
    background-color: #216ade;
    font-size: 20px;
    border-radius: 8px;
    border: 2px solid #216ade;
    padding: 0px 20px;
    width: 200px;
    color: white;
    margin-top: 10px;
}

    .btn-login:hover {
        background-color: white;
        color: #216ade;
        border: 2px solid #216ade;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

.btn-signup {
    display: inline-block;
    font-size: 20px;
    border-radius: 8px;
    background-color: lightgray;
    border: 2px solid lightgray;
    padding: 0px 20px;
    width: 200px;
    color: black;
    margin-top: 10px;
}

    .btn-signup:hover {
        background-color: white;
        border: 2px solid lightgray;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        color: black;
        width: 200px;
    }